
.form-wrapper {
    display: block;
    text-align: center;
    width: 100%;
background-color: $primary-background-color;
margin-bottom: 15px;

}
.search-form {
    
    
    
    
    display: flex;
    justify-content: center;
  padding-top: 10px;
    padding-bottom: 10px;
    
    & input {
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }


    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-left: 5px;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        right: 50%;
        height: 25px;
        width: 25px;
        align-items: center;
        transition: background-color 250 $transition-timing-function;

        &:hover {
            background-color: $background-button-hover-color;
        }

    }
}

