$primary-background-color: rgb(10, 10, 163);
$background-button-hover-color: rgb(17, 146, 211);
$primary-button-text-color: rgb(255, 255, 255);
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);